@define-color base #1e1e2e;
@define-color yellow #f9e2af;
@define-color red #f38ba8;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color green #a6e3a1;

* {
    border-radius: 0px;
    margin: 1px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
}

#waybar {
    color: @lavender;
    background: transparent;
    background-color: @base;
    font-family: "Firacode Nerd Font";
    font-size: 16px;
    border-radius: 25px;
}

tooltip {
    background-color: @base;
    border-radius: 25px;
    opacity: 0.6;
    padding: 0px;
    margin: 0px;
}

tooltip label {
    color: @blue;
}

#custom-appmenu {
    color: @blue;
}

#window {
    color: @blue;
    background-color: @base;
}

#workspaces {
    font-weight: bold;
    color: @blue;
    background-color: @base;
}

#workspaces button {
    color: @lavender;
    border-bottom: 3px solid @lavender;
    margin-left: 0px;
    margin-right: 0px;
}

#workspaces button.active {
    color: @blue;
    border-bottom: 3px solid @yellow;
}

#workspaces button:hover {
    color: @yellow;
    background: @base;
    box-shadow: inherit;
    text-shadow: inherit;
    border: none;
    transition: none;
    border-bottom: 3px solid @red;
}

#custom-headset-battery.charging {
    color: @green;
}

#custom-headset-battery.unavailable {
    color: @lavender;
}

#custom-headset-battery.full {
    color: @blue;
}

#custom-headset-battery.high {
    color: @blue;
}

#custom-headset-battery.medium {
    color: @yellow;
}

#custom-headset-battery.low {
    color: @red;
}

#custom-headset-battery.empty {
    color: @red;
}

#pulseaudio.muted {
    color: @red;
}

#custom-exit {
    color: @red;
}
